html * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;

}

body {
	margin: 0px;
}

main {
	display: block;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

a {
	background: transparent;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

textarea {
	vertical-align: top;
}