.sidebar {
	padding: 0px;
	display: block;
	border: 1px solid #dfdfdf;
	width: 100%;
	height: auto;
	font-family: sans-serif;
	text-decoration: none;
}

.sidebar ul,
.sidebar ul li {
	margin: 0px;
	padding: 0px;
}

.sidebar a,
.sidebar li {
	display: block;
	line-height: 1.5em;
	padding: 5px 20px;
	text-decoration: none;
	white-space: nowrap;
	color: rgb(51, 51, 51);
	background-color: #f2f2f2;
}

.sidebar .menu-header {
	border-bottom: 1px solid #dfdfdf;
	padding: 5px 20px;
	font-size: 110%;
}

.sidebar .menu-header:hover {
	background-color: transparent; 
}

.sidebar a:hover {
	background-color: #dfdfdf;
}
