.topbar {
	margin: 0px;
	padding: 0px;
	display: block;
	width: 100%;
	height: 46px;
	border: 1px solid #dfdfdf;
	font-family: sans-serif;
	background-color: #f2f2f2;
}

.topbar ul,
.topbar ul li {
	margin: 0px;
	padding: 0px;
}

.topbar a,
.topbar li {
	display: block;
	line-height: 1.5em;
	padding: 11.5px 20px;
	text-decoration: none;
	color: rgb(51, 51, 51);
	background-color: #f2f2f2;
	float: left;
}

.topbar .menu-header {
	font-size: 110%;
	padding: 10.5px 20px;
}

.topbar a:hover {
	background-color: #dfdfdf;
}

@media only screen and (max-width: 720px) {
	
	.topbar {
		height: auto;
	}
	
	.topbar a,
	.topbar li {
		width: 100%;
		float: none;
	}
}