.badge.turquoise {
	background: #1abc9c;
	color: #fff;
}

.badge.emerald {
	background: #2ecc71;
	color: #fff;
}

.badge.sea {
	background: #3498db;
	color: #fff;
}

.badge.purple {
	background: #9b59b6;
	color: #fff;
}

.badge.midnight {
	background: #34495e;
	color: #fff;
}

.badge.sun {
	background: #f1c40f;
}

.badge.carrot {
	background: #e67e22;
	color: #fff;
}

.badge.red {
	background: #e74c3c;
	color: #fff;
}

.badge.concrete {
	background: #7f8c8d;
}