.label.turquoise {
	background: #1abc9c;
	color: #fff;
}

.label.emerald {
	background: #2ecc71;
	color: #fff;
}

.label.sea {
	background: #3498db;
	color: #fff;
}

.label.purple {
	background: #9b59b6;
	color: #fff;
}

.label.midnight{ 
	background: #34495e;
	color: #fff;
}

.label.sun {
	background: #f1c40f;
}

.label.carrot {
	background: #e67e22;
	color: #fff;
}

.label.red {
	background: #e74c3c;
	color: #fff;
}

.label.concrete {
	background: #7f8c8d;
}