body {
	color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.card {
	height: 360px;
	width: 360px;
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.card img {
	height: 360px;
}

.card h2 {
	top: 10px;
	font-size: 1.5em;
	left: 50px;
	position: absolute;
	z-index: 1;
}

.card-content {
	background-color: rgb(170,0,0);
	box-sizing: border-box;
	left: -260px;
	top : 0;
	height: 360px;
	width: 300px;
	padding: 70px 40px 10px 10px;
	position: absolute;
	transition: all 0.5s ease;
}

.card:hover .card-content {
	background-color: rgba(170,0,0,);
	left: 0;
	top: 0;
}

.card a, h2, p{
	color: white;
	text-decoration: none;
}